<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net45" userInstalled="true" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net45" userInstalled="true" />
  <package id="WindowsAPICodePack-ShellExtensions" version="1.1.1" targetFramework="net45" userInstalled="true" />
</packages>